@font-face {
  font-family: regularFont;
  src: url(euclid-circular-a-cufonfonts/Euclid\ Circular\ A\ Regular.ttf);
}
@font-face {
  font-family: boldFont;
  src: url(euclid-circular-a-cufonfonts/Euclid\ Circular\ A\ Bold.ttf);
}
@font-face {
  font-family: semiBoldFont;
  src: url(euclid-circular-a-cufonfonts/Euclid\ Circular\ A\ SemiBold.ttf);
}
body {
  font-family: regularFont;
  font-size: 20px;
  letter-spacing: 0px;
  background: white;
  margin: 0px;
}

.container {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 25px;
  display: flex;
}

.black-container {
  background-color: black;
  display: flex;
  text-align: justify;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

.row-container {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 75px;
  display: flex;
  align-items: center;
}

.title {
  font-size: 72px;
  letter-spacing: -2px;
}

.header {
  font-size: 50px;
}

.sub-header {
  font-size: 40px;
  letter-spacing: -1px;
}

.large-body {
  font-size: 45px;
}

.bold {
  font-family: boldFont;
}

.semiBold {
  font-family: semiBoldFont;
}

.text-center {
  text-align: center;
}

.right-align {
  margin-left: auto;
}

.even-display {
  vertical-align: top;
  display: inline;
  padding-right: 30px;
  padding-left: 30px;
}

.header-display {
  display: inline;
}

.blue {
  color: #0047FF;
}

.blue-link {
  color: #0047FF;
  cursor: pointer;
  transition: 0.3s;
}

.blue-link:hover {
  color: #0d6efd;
  cursor: pointer;
}

.mute {
  color: rgba(0, 0, 0, 0.52);
}

.pill-button {
  color: white;
  background-color: #0047FF;
  border: none;
  display: inline-block;
  padding: 25px 45px;
  margin: 4px 2px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 40px;
  transition: 0.3s;
}

.pill-button:hover {
  color: white;
  background-color: #0d6efd;
  border: none;
  display: inline-block;
  padding: 25px 45px;
  margin: 4px 2px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 40px;
}

.card-grey-button {
  color: white;
  background-color: #0047FF;
  border: none;
  display: inline-block;
  padding: 15px 175px;
  margin: 4px 2px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.card-grey-button:hover {
  color: white;
  background-color: #0d6efd;
  border: none;
  display: inline-block;
  padding: 15px 175px;
  margin: 4px 2px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}

.card-black-button {
  color: black;
  background-color: white;
  border: none;
  display: inline-block;
  padding: 15px 175px;
  margin: 4px 2px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.card-black-button:hover {
  color: black;
  background-color: #BCFE2F;
  border: none;
  display: inline-block;
  padding: 15px 175px;
  margin: 4px 2px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}

.card-grey {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 2px solid lightgray;
  width: 515px;
  height: 700px;
  border-radius: 20px;
  font-size: 24px;
}

.card-black {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 2px solid black;
  background-color: black;
  color: white;
  width: 515px;
  height: 700px;
  border-radius: 20px;
  font-size: 24px;
}

.img-row {
  margin-bottom: 10px;
}

.img-row {
  margin-bottom: 10px;
}

.portrait-display {
  padding-left: 25px;
}

.product-display {
  padding-left: 15px;
}

.center-div {
  margin: auto;
}

.box-container {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
}

.grey-pill {
  color: white;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  display: inline-block;
  padding: 35px 50px;
  margin: 4px 2px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s;
}

.inactive-grey {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  transition: 0.3s;
}

.inactive-grey:hover {
  color: rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.box-outline {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}